name: notify
on:
  push:
    branches:
      - "*"
  pull_request:
    types: [opened, reopened, closed,pushed]
  pull_request_review_comment:
    types: [created]
jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
    - name: Google Chat Notification
      uses: CommonMarvel/google-chat-notification@v1.1.1
      with:
        url: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
